.accordion {
    margin: 50px;
    /* display: block */
}
.accordion dt, .accordion dd {
    padding: 10px;
    border: 2px solid black;
    border-bottom: 0;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
    border-bottom: 2px solid black;
}
.accordion dt a, .accordion dd a {
    display: block;
    color: black;
    font-weight: bold;
}
.accordion dd {
    border-top: 0;
    font-size: 12px;
}
.accordion dd:last-of-type {
    border-top: 2px solid white;
    position: relative;
    top: -1px;
}